<%- include('includes/header'); -%>

<%# for each product in products display the product's propertis. %> 
<section>
  <div><h2> Shopping bag</h2></div> 
  <% basket.forEach((basket) => { %>
     
    <article>
      <div> USERNAME: <%- basket.USERNAME %></div>
        <div><h3>BRAND: <%- basket.BRAND_NAME %></h3></div>
        <div>CATEGORY: <%- basket.CATEGORY%></div>
        <div>SIZE: <%- basket.SIZE %></div>
        <div>QUANTITY : <%- basket.QUANTITY %></div>
        <div>ITEM SUBTOTAL: <%- basket.ITEM_SUBTOTAL %></div>
        
      </article>
    <% });%>
  </section>

