<!DOCTYPE html>

<html>
  <%- include('includes/head'); -%>
  <body>
    <%- include('includes/header'); -%> 
    <%- include('includes/navbar'); -%>
    <%- include('includes/flash'); -%>
    
     <%#for each product in products display the product's propertis. %>
    <section>
      <% products.forEach((product) => { %>
      <article>
        <div><h3><%- product.BRAND %></h3></div>
        <div><%- product.NAME %></div>
        <br />
        <div>CATEGORY: <%- product.CATEGORY_TITLE %></div>
        <div><%- product.CCATEGORY_SUB %></div>
        <div>Size: <%- product.SIZE %></div>
        <div>DESCRIPTION: <%- product.CATEGORY_DESCRIPTION %></div>
        <a href="/product/<%- product.ID %>" class="btn btn-primary"
          >See details</a
        >
      </article>
      <% }); %>
    </section>
    <%- include('includes/script'); -%>
  </body>
</html>
