<!DOCTYPE html>

<html>
  <%- include('includes/head'); -%>

  <body>
    <!-- <video id="videoBg" poster="poster.jpg" autoplay muted loop>
      <source src="/images/BackgroundIm/ShoppingBg.mp4" type="video/mp4" />
    </video> -->
    <%- include('includes/header'); -%> <%- include('includes/navbar'); -%>
    <%-include('includes/flash'); -%>

    <section>
      <form class="login" action="/login" method="post">
        <!-- Username input -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="USER_NAME"
            value="Ali007"
          />
        </div>

        <!-- Password input -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="PASSWORD"
            value="007"
          />
        </div>

        <!-- Login button -->
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </section>

    <%- include('includes/script'); -%>
  </body>
</html>
