<%- include('includes/header'); -%>

<%# for each product in products display the product's propertis. %> 
<section>

    <% products.forEach((product) => { %>
      <article>
        <div><%- product.ID  %></div>
        <div><h2>BRAND: <%- product.BRAND %></h2></div>
        <div><%- product.NAME  %></div>
        <div><%- product.UUID  %></div>
        <div>Colour: <%- product.COLOUR %></div>
        <div>size: <%- product.SIZE %></div>
        <div>Quantity: <%- product.QUANTITY %></div>
      </article>
    <% }); %>
  </section>

  