<%- include('includes/header'); -%>

<%# for each product in products display the product's propertis. %> 
<section>

  <form action="/product/<%- category.uuid%>" method="post">
  <button>Add to bag</button>
  </form>
  
      <article>
        <div><h2>Brand: <%- category.brand_name %></h2></div>
        <div><%- category.name  %></div>
        <div><%- category.uuid  %></div>
        <div>Colour: <%- category.colour %></div>
        <div>size: <%- category.size %></div>
        <div>Quantity: <%- category.quantity %></div>
      </article>
  </section>

  
  