<!DOCTYPE html>

<html>
  <%- include('includes/head'); -%>
  <body>
    <%- include('includes/header'); -%> <%- include('includes/navbar'); -%> <%-
    include('includes/flash'); -%>

    <section>
      <article>
        <div><h2>USERNAME: <%- user.USER_NAME%></h2></div>
        <div>FIRSTNAME: <%- user.FIRST_NAME%></div>
        <div>LASTNAME: <%- user.LAST_NAME%></div>
        <div>TEL: <%- user.TEL%></div>
        <div>EMAIL: <%- user.EMAIL%></div>
      </article>
    </section>

    <section>
      <a href="/orders" class="btn btn-primary">My Orders</a>
    </section>

    <%- include('includes/script'); -%>
  </body>
</html>
