<%- include('includes/header'); -%>

<%# for each user in user display the user's propertis. %> 
<section>
      <article>
        <div><h2>USER_NAME: <%- user.USER_NAME%></h2></div>
        <div>PASSWORD: <%- user.PASSWORD  %></div>
        <div>FIRST_NAME: <%- user.FIRST_NAME%></div>
        <div>SURNAME: <%- user.SURNAME%></div>
      </article>
  </section>

  